.titulo-solicitudes {
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-bg-variant);
    text-shadow: 2px 2px #000;
    border-radius: 20px;
    margin: 5px;
}

.tabla-solicitudes {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(60vh - 225px);
}

th.mensajes{
    width: 400px;
}


table {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-collapse: collapse;
    
}

table th, 
table td {
    border: 2px solid #dee2e6;
    padding: 5px 10px;
}

table th, 
table td:first-child {
    background-color: var(--color-primary-variant);
    color: #fff;
    font-weight: 600;
    width: 150px;
}

table td span {
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
}

table td span:hover {
    opacity: 0.7;
}

table td span:nth-child(1) {
    /*color: #17a2b8;*/
    color: white;
    margin-right: 7px;
    font-size: 20px;
}

table td span:nth-child(2) {
    color: #28a745;
    margin-right: 7px;
    font-size: 20px;
}

table td span:nth-child(3) {
    color: #dc3545;
    margin-right: 0px;
    font-size: 20px;
}

table tr:nth-child() {
    background-color: rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

